<title>Home</title>
<h1>Home Page</h1>
<div>
    <button>
        <a style="text-decoration:none" asp-controller="Auth" asp-action="Login"> Sign In </a>
    </button>
    <button>
        <a style="text-decoration:none" asp-controller="Auth" asp-action="Register"> Sign Up </a>
    </button>
</div>

